[Unit]
Description=Lots of Latency Letter IP over Post Handling Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/lollipop
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
RuntimeDirectory=lollipop
RuntimeDirectoryMode=0755
StateDirectory=lollipop
StateDirectoryMode=0755
ExecStartPre=/usr/bin/mkdir -p /var/spool/lollipop
ExecStartPre=/usr/bin/rm -f /var/run/lollipop.socket
KillSignal=SIGINT
TimeoutStopSec=10
User=root
Group=root

[Install]
WantedBy=multi-user.target
